@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');

:root {
    --font-family: Inter;
    --background-color: #1F1D2C;
    --font-weigth-regular: 400;
    --font-weigth-semibold: 600;
    --font-size-mobile: 16px;
    --font-size-desktop: 18px;
    --font-color: white;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--background-color);
    color: var(--font-color);
    font-family: 'Inter';
    font-size: var(--font-size-mobile);
}


.sect-experience {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.sect-experience__content {
    background: transparent url('./assets/vectores/Group 35.svg') no-repeat;
    background-position: center right;
    width: 85%;
    max-width: 500px;
}

.sect-experience__container {
    width: 95%;
    margin: 1rem 0;
    padding: 0 1rem 0 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.sect-experience__info {
    flex-grow: 1;
    padding: 0 0 0 5%;
}

.sect-experience__info :nth-child(2) {
    font-size: 12px;
}

.sect-experience__info :nth-child(3) {
    font-size: 10px;
}

h3 {
    font-size: 14px;
}



/* 992px and up */
@media only screen and (min-width: 992px) {

    body {
        font-size: var(--font-size-desktop);
    }

}